@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: 'ff';
    src: url('fonts/Guthen-Bloots-Basic.woff2');
}
@font-face {
    font-family: 'g';
    src: url('fonts/Recoleta-SemiBold.woff2');
}
@font-face {
    font-family: 'f';
    src: url('fonts/test-soehne-buch.woff2');
    font-weight: 400;
}



.hwf {
    font-family: 'ff';
}


.stroke {
    -webkit-text-stroke: 1px #510188;
    color: transparent;
    opacity: 30%;
}
.stroke-orange {
    -webkit-text-stroke: 1px #E57C23;
    color: transparent;
    opacity: 60%;
}
.recoleta {
    font-family: 'g';
}
.open-sans {
    font-family: 'f';
}
.nbs {
    font-family: 'Nanum Brush Script';
}
.blf {
    font-family: 'fb';
}

body {
    font-family: 'g';
    background-color: #777777;
    overflow-x: hidden;
}

.bg-glass {
    backdrop-filter: blur(36px) saturate(180%);
    -webkit-backdrop-filter: blur(36px) saturate(180%);
    background-color: rgba(226, 220, 215, 0.7); 
}




.word-reveal {
    overflow: hidden;
    display: inline-block;
}